# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# changesets
.changeset/tmp/

# editors
.vscode/
.idea/

# os
.DS_Store
